* {
  box-sizing: border-box;
}

body {
  font-family: 'Figtree', sans-serif;
  height: 100vh;
  margin: 0;
  width: 100%;
}

noscript {
  display: block;
  font-size: 1.5rem;
  line-height: 1.4;
  padding: 24px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #181820;
    color: #cfcfcf;
  }
}
